body {
  background-color: black;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
}

.keyword {
  font-family: 'Special Elite', cursive;
  color: #8a0707;
  text-shadow: 3px 4px 5px rgba(0,0,0,.4);
}
.main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-top: 110px;
  min-width: 1200px;
  padding-left: 100px;
  height: 500px;
  z-index: 1;
}

.ryu {
    display: inline-flex;
    min-width: 659px;
    height: 494px;
}

.fighter-ready,
.fighter-still,
.fighter-throwing,
.fighter-cool {
  width: 659px;
  height: 494px;
}

.fighter-ready,
.fighter-throwing,
.fighter-cool,
.hadouken {
  display: none;
}

.fighter-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.fighter-still {
  background-image: url('../images/ryu-standing-still.png');
}

.fighter-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.fighter-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.fighter-ready,
.fighter-still,
.fighter-throwing,
.fighter-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  position: absolute;
  z-index: 10;
  top: 280px;
  left: 550px;
  float: left;
}

.instructions
 {
  display: inline-flex;
  padding: 0 100px 20px 25px;
}

.instructions{
  width: 600px;
}

.press-on, .click-on{
  width: 298px;
  margin: 0;
}

.press-on{

  align-self: flex-end;
}

/** {
  outline: red 1px solid;
}*/